<style type = "text/css">

 
   body {font-family: arial, helvetica, sans-serif;}
   a {text-decoration: underline;}
   a:hover {color: red;}
   p {text-align: justify; font-family: verdana; margin: .5em;}
   html body div *:hover {background-color:yellow;}
   body {background-color: blue;}
   .sub { text-align: right; font-size: 0.8em; }

   .mainDiv{
   	background:white;
	padding: 10px;
	position: fill;
	border-width: 4px;
	border-color: black;
	border-style: solid;
	height: 600px;

   }


   .titleDiv{
   	background: lightblue;
   	position: fill;
   	right: 0%;
	padding-right: 20px;
	border-width:1px;
	border-style: solid;
	border-color: black;
	margin: 5px;

   }

   .blogsDiv {
	text-align: justify;
	background: lightgreen;
	padding: 5px;
	margin: 5px;
	position: fill;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	margin-left: 20%;
	height: 200px;

	
	}
	.friendsDiv {

	background: purple;
	float: left;
	border-width: 4px;
	border-style: solid;
	border-color: black;
	width: 200px;
	padding-left: 20px; 
	margin: 5px;
	color: white;

	}
	
	.picD {
	padding-left: 6px;
	padding-right: 6px;
	float: right;
	margin-right: 10px;
	}
	

</style>
